html, body {
    height: 100vh; 
    display: flex;
    flex-direction: column; /* Makes content stack vertically */
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-image: url(../media/login-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.signin-container {
    padding: 4em 8em 4em 8em;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
}

.header {
    margin-bottom: 3em;
}

.header h2 {
    margin-bottom: 1em;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container label {
    margin-bottom: 0.5em;
}

.form-container input {
    padding: 1em 12em 1em 1em;
    border-radius: 5px;
    margin-bottom: 1em;
    text-align: left;
    
}

.signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-button button {
    padding: 1em 5.5em 1em 5.5em;
    background-color: #CCA43B;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 2em;
    border: none;
    font-weight: bold;
}